html,
body {
    margin: 0;
    font-size: 16px;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

.content {
    padding: 7rem;
    background-color: rgb(63, 74, 161);
    color: white;
}

.content .title {
    font-weight: bold;
    font-size: 2.5rem;
}

.content .subtitle {
    font-weight: bold;
    font-size: 1.7rem;
}

.content .detail {
    font-size: 1.4rem;
}

.content-2 {
    padding: 7rem;
    display: flex;
    justify-content: space-between;
}

.content-2 .left {
    width: 50%;
}

.content-2 .left .first {
    font-size: 2.5rem;
    font-weight: bold;
    color: blue;
}

.content-2 .left .middle {
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: rgb(0, 112, 243);
}

.content-2 .right {
    width: 50%;
}

.content-2 .right .title {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.content-2 .right .describe {
    color: rgb(91, 92, 150);
    font-size: 1.2rem;
    font-weight: 600;
}

.content-3 {
    padding: 8rem;
}

.content-3 .left {
    width: 40%;
}

.content-3 .first {
    color: rgb(24, 6, 211);
    font-weight: bold;
    font-size: 3rem;
}

.content-3 .left .second {
    color: rgb(65, 91, 194);
    font-weight: bold;
    font-size: 4rem;
}

.content-3 .left .text {
    color: rgb(65, 91, 194);
}

.content-3 .left .third {
    font-weight: 700;
    font-size: 3rem;
}

.content-3 .left .fourth {
    font-weight: 600;
    font-size: 2.5rem;
}

.content-3 .left .fifth {
    font-weight: 550;
    font-size: 2rem;
}

.content-3 .left .sixth {
    font-weight: 500;
    font-size: 1.5rem;
}

.content-3 .right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 45%;
    font-size: 1.6rem;
    color: rgb(91, 92, 150);
    font-weight: 450;
}